.logo{
    position: absolute;
    color: #eb9c7b;
    right: 1cm;
    font-size: 28px;
}

@media  screen and (max-width:430px) {
    .logo{
        color: #fff;
    }
}

@media  screen and (min-width: 768px){
    .logo{
        display: none;
    }
}